@*
    For more information on enabling MVC for empty projects, visit 
    s://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Atualizar </h1>

<form method="post" action="Atualizar">

    <div class="form-group">
        <label for="codigo">Código</label>
        <input type="text" class="form-control" id="codigo" value="@ViewBag.ProdutoAtualizar.ProID" name="codigo" readonly>
    </div>


    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" id="Nome" value="@ViewBag.ProdutoAtualizar.NomeProduto" name="Nome">
    </div>

    <div class="form-group">
        <label for="Descricao">Descricao</label>
        <input type="text" class="form-control" id="descricao" value="@ViewBag.ProdutoAtualizar.DescricaoProduto" name="descricao">
    </div>
    <div class="form-group">
        <label for="Preco">Preço</label>
        <input type="text" class="form-control" id="Preco" value="@ViewBag.ProdutoAtualizar.PrecoProduto" name="Preco">
    </div>
    <div class="form-group">
        <label for="CategoriaProduto">Categoria do Produto</label>
        <input type="text" class="form-control" id="CategoriaProduto" value="@ViewBag.ProdutoAtualizar.CategoriaProduto" name="CategoriaProduto">
    </div>


    <a class="btn btn-secondary" href="/Cardapio/Index">Voltar</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>