@{
    int cade = -1;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardapioV2</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    @model CárdapioV3_Tunado.Models.ListCategoriaProduto
    

 
</head>
<body>
    <div class="col-12 card text-bg-light rounded-2" style="height: 90%;overflow-y: scroll;scrollbar-width: thin;scrollbar-color: #aaa transparent;">
        <header class="navbar navbar-expand-lg bd-navbar sticky-top rounded-2 border-bottom" style="background-color:white">
            <div class="m-2">
                <span class="material-symbols-outlined rounded-2" id="btn-voltar" style="display: none; z-index:99999999; justify-content:flex-start;" onclick="btnVoltarF()">chevron_left</span>
            </div>
            <div class="container-fluid d-flex justify-content-center">
                <div class="m-2">
                    @if (Model.Lista1.First().FotoEmpresa != null)
                    {
                        <div class="mx-auto">
                            <img class="rounded d-block" src="@Model.Lista1.First().FotoEmpresa" height="80" border="0">
                        </div>
                    }
                    else
                    {
                        <div>
                            <span style="font-size: 30px;">@Model.Lista1.First().NomeEmpresa</span>
                        </div>
                    }
                </div> 
            </div>
        </header>
        <div class="container-fluid mt-3">
            <div align="center" class="estilo_pp"><p>Nunca Foi Tão Facil <span class="destaque1">Pedir Lanche</span>!</p></div>
        </div>
        <div class="container-fluid mt-2">
            @foreach (var item in Model.Lista2.GroupBy(x => x.CategoriaID).Select(y => y.First()))
            {
                <div class="categoria card bg-light" id="cat@item.CategoriaProduto">
                    <table cellspacing="8">
                        <tbody>
                            <tr>
                                <td><img src="@item.CategoriaFoto" height="70"></td>
                                <td valign="top">
                                    <table cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b>@item.Nome</b></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_descricao">@item.CategoriaDescricao</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="produtos" id="produtoscat@item.CategoriaProduto">
                    @foreach (var itemProduto in Model.Lista1.Where(z => z.CategoriaID == @item.CategoriaID).ToList())
                    {
                        cade++;
                        string qtd = "quantidade";
                        <div class="container card bg-light mb-2">
                            <div class="row d-flex justify-content-start mb-2 mt-2">
                                <div class="estilo_titulo_preco" style="white-space: nowrap; word-break: break-all;" id="nome-produto-@itemProduto.ProID"><b>@itemProduto.NomeProduto</b></div>
                                <div style="font-weight:bold;">Preço: R$<b id="preco-produto-@itemProduto.ProID">@itemProduto.PrecoProduto</b></div>
                            </div>
                            <div class="row mb-2">
                                <div class="d-flex justify-content-start">
                                    <div class="estilo">@itemProduto.DescricaoProduto</div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col">
                                    <button class="btn-confirmar-pedido rounded-2" onclick="ocultarTabela(); exibirProdutoSelecionado(@itemProduto.ProID, @cade);">Adicionar Pedido 👌</button>
                                </div>
                                <div class="col-3 d-flex align-items-center">
                                    <select class="form-select" id="@qtd@cade" size="1">
                                        <option value="01" selected>01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    }
                   
                </div>
                <div id="FinalizarPedido" style="display: none;">
                    <div class="container card bg-light mb-2 p-4">
                        <div>
                            <div class="fs-5 mb-2">Dados do usuário:</div>
                        </div>
                        <div class="row mb-2">
                            <input type="text" class="form-controlNome form-control" id="InputNome" placeholder="Nome">
                        </div>
                        <div class="row mb-2">
                            <input type="text" class="form-controlTelefone form-control" id="InputNTelefone" placeholder="Número de Telefone">
                        </div>

                        <div class="row mb-2">
                            <div class="input-group">
                                <input type="text" class="form-controlTelefone form-control" id="InputEndereco" placeholder="Endereço">
                                <div class="input-group-append">
                                    <span class="input-group-text arrow">&#9660;</span>
                                </div>
                            </div>
                        </div>

                        <!--
                             <div class="row mb-2">
                           

                            <input type="text" class="form-controlTelefone form-control" id="InputEndereco" placeholder="Endereço">
                                <span class="arrow">&#9660;</span>
                         
                               
                                   
                                
                            
                        </div>
                        -->
                       
                        <div class="row mb-2 hidden" id="complementoDiv">
                            <input type="text" class="form-controlTelefone form-control" id="InputComplemento" placeholder="Complemento">
                        </div>
                        <div class="row mb-2 hidden" id="bairroDiv">
                            <input type="text" class="form-controlTelefone form-control" id="InputBairro" placeholder="Bairro">
                        </div>
                        <div class="row mb-4 hidden" id="referenciaDiv">
                            <input type="text" class="form-controlTelefone form-control" id="InputReferencia" placeholder="Ponto de Referencia">
                        </div>


                        <div>
                            <div class="fs-5 mb-2">Resumo do pedido:</div>
                        </div>
                        <div>
                            <div class="fs-6 mb-2">Produtos selecionados:</div>
                        </div>
                        <div class="retangulo bg-secondary p-3 rounded-2" id="produto-selecionado">
                        </div>
                        <div>
                            <div id="total-da-soma-dos-valores" class="fs-6 mb-2" style="font-weight:500;">Total: R$00,00</div>
                            <div id="taxaTela" class="fs-6 mb-2" style="font-weight:500;">Taxa de entrega: R$00,00</div>
                        </div>
                        <div class="mb-4">
                            <label for="observacao" class="form-label mt-2" style="font-weight: 500;">Obsevação do pedido:</label>
                            <textarea class="form-control" id="observacao" rows="3"></textarea>
                        </div>
                        <div class="mb-2">
                            <div class="fs-5">Formas de pagamento:</div>
                        </div>
                        <div class="quadradinho mb-4">
                            <select id="FormaDePagamento" class="pagamento form-select" size="1">
                                <option value="01">Dinheiro</option>
                                <option value="02">Cartão</option>
                                <option value="03">Pix</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button id="btn-adicionar-item" class="btn-AdicionarPedido btn btn-secondary">Adicionar item</button>
                            <button id="FinalizarPedido" class="btn-FinalizarPedido btn btn-warning" style="margin-left: 20px;" onclick="if (validarCampos()) { varrer(); }">Finalizar Pedido</button>

                        </div>
                    </div>
                </div>
            }
        </div>
        
       <!--
             <div class="container-fluid mt-2">
        <div align="center" class="estilo_pp" style="opacity: 0.3;"><p>Versão - 1.00</p></div>
        </div>

       -->

       
           <div class="container-fluid mt-2 position-flex">
    <div class="d-flex align-items-end justify-content-center estilo_pp" style="opacity: 0.3;">
        <p>Versão - 1.00</p>
    </div>
</div>
       


  


    </div>
    <script>
        var carrinho = [];
        var categorias = document.getElementsByClassName("categoria");
        var produtos = document.getElementsByClassName("produtos");
        var btnVoltar = document.getElementById("btn-voltar");
        var tabelaPedidos = document.getElementById("tabela-pedidos");
        var telaFinalizarPedido = document.getElementById("FinalizarPedido");

        window.addEventListener("DOMContentLoaded", () => {
            btnVoltar.style.display = "none";
            telaFinalizarPedido.style.display = "none";
        })

        function mostrarBotaoVoltar() {
            $("#btn-voltar").show()
        }

        for (var i = 0; i < categorias.length; i++) {
            categorias[i].addEventListener("click", function () {
                ocultarCategorias();
                mostrarProdutos(this.nextElementSibling);
                mostrarBotaoVoltar();
            });
        }

        function btnVoltarF() {
            mostrarCategorias();
            ocultarProdutos();
            ocultarBotaoVoltar();
        };

        function mostrarCategorias() {
            for (var i = 0; i < categorias.length; i++) {
                categorias[i].style.display = "block";
            }
        }

        function ocultarCategorias() {
            for (var i = 0; i < categorias.length; i++) {
                categorias[i].style.display = "none";
            }
        }

        function ocultarProdutos() {
            for (var i = 0; i < produtos.length; i++) {
                produtos[i].style.display = "none";
            }
        }

        function mostrarProdutos(produtosCategoria) {
            produtosCategoria.style.display = "block";
        }

        function ocultarTabela() {
            document.getElementById("FinalizarPedido").style.display = "block";
            document.getElementById("TabelaPedido").style.display = "none";
        }

        function ocultarBotaoVoltar() {
            btnVoltar.style.display = "none";
            telaFinalizarPedido.style.display = "none";
        }

        function ocultarTabela() {
            var tabelaProdutos = document.querySelector(".produtos");
            tabelaProdutos.style.display = "none";
        }

        function ocultarTabela() {

            $(".produtos").hide();
            $("#FinalizarPedido").show();
        }

        function exibirProdutoSelecionado(idProduto, id) {
            $("#produto-selecionado").empty();
            var nomeProduto = document.getElementById("nome-produto-" + idProduto)?.textContent;
            var precoProduto = parseFloat(document.getElementById("preco-produto-" + idProduto)?.textContent.replace(',', '.'));
            var precoAnterior = 0;
            var index = carrinho.findIndex(item => item.proID === idProduto);
            if (index !== -1) {
                precoAnterior = carrinho[index].precoProduto;
            }

            var quantidade = $("#quantidade" + id + " option:selected").val();
            adicionarAoCarrinho(idProduto, precoProduto, nomeProduto, precoAnterior, quantidade);

            var produtoSelecionado = document.getElementById("produto-selecionado");
            var html = "";

            var somaProdutos = 0;
            for (var i = 0; i < carrinho.length; i++) {
                var item = carrinho[i];
                var precoTotal = parseFloat(item.precoProduto) * parseFloat(item.quantidade);
                somaProdutos += precoTotal;
                html +=
                    "<div id='" + "produto-" + i + "' class='ScroolBAr container card bg-Emphasis mb-2'>" +
                    "<div class='d-flex justify-content-between align-items-center'>" +
                    "<span>" + item.nomeProduto + " x " + item.quantidade + " = R$" + precoTotal.toFixed(2) + "</span>" +
                    "<button class='btn btn-danger rounded-2 btn_produto' style='margin-left:20px;' onclick='event.preventDefault(); removerItemDoCarrinho(" + i + ");'>X</button></div>" +
                    "</div>" + "</div>";
            }
           var taxaString = "@Model.Lista1.First().Taxa";

           taxaString = taxaString.replace(',', '.');


           var taxa = parseFloat(taxaString);

            var divSomaProdutos = document.getElementById("total-da-soma-dos-valores");
            divSomaProdutos.textContent = "Total: R$" + somaProdutos.toFixed(2);

            var divSomaProdutos = document.getElementById("taxaTela");
            divSomaProdutos.textContent = "Taxa de entrega: R$" + taxa.toFixed(2);

            produtoSelecionado.innerHTML = html;
        }

        async function removerItemDoCarrinho(index) {
            carrinho.splice(index, 1);
            await salvarNoLocalStorage("carrinho", carrinho);
            atualizarValorTotal();

            $("#produto-" + index).remove(); 

            
            $(".btn_produto").each(function (i, object) {
                var element = $(this);
                var currentIndex = element.closest(".ScroolBAr").attr("id").split("-")[1];
                if (currentIndex > index) {
                    var newId = currentIndex - 1;
                    element.closest(".ScroolBAr").attr("id", "produto-" + newId);
                    element.attr("onclick", "event.preventDefault(); removerItemDoCarrinho(" + newId + ");");
                }
            });
        }


        function atualizarValorTotal() {
            var somaProdutos = 0;
            for (var i = 0; i < carrinho.length; i++) {
                var item = carrinho[i];
                var precoTotal = parseFloat(item.precoProduto) * parseFloat(item.quantidade);
                somaProdutos += precoTotal;
            }

            var divSomaProdutos = document.getElementById("total-da-soma-dos-valores");
            divSomaProdutos.textContent = "Total: R$" + somaProdutos.toFixed(2);
        }

        var btnAdicionarItem = document.getElementById("btn-adicionar-item");

        btnAdicionarItem.addEventListener("click", function () {
            document.getElementById("FinalizarPedido").style.display = "none";
            document.getElementById("produtoscat@item.CategoriaProduto").style.display = "block";
        });

        function salvarNoLocalStorage(nome, valor) {
            localStorage.setItem(nome, JSON.stringify(valor));
        }

        function lerDoLocalStorage(nome) {
            return JSON.parse(localStorage.getItem(nome));
        }

        function allStorage() {

            var values = [],
                keys = Object.keys(localStorage),
                i = keys.length;

            while (i--) {
                values.push(localStorage.getItem(keys[i]));
            }

            return values;
        }

        function varrer(nome, valor) {
            var carrinho = JSON.parse(allStorage()[0]); // lembrar de mudar para 0
            var string = "";
            var nome = $("#InputNome").val()
            var endereco = $("#InputEndereco").val()
            var telefone = $("#InputNTelefone").val().replace(/[()+\-]/g, '');
            var observacao = $("#observacao").val()
            var complemento = $("#InputComplemento").val()
            var Bairro = $("#InputBairro").val()
            var ptnReferencia = $("#InputReferencia").val()
            var html = "";
            for (var i = 0; i < carrinho.length; i++) {
                console.log(carrinho[i].precoProduto)
                var item = carrinho[i];
                html += item.nomeProduto +
                    " x " + item.quantidade + " = R$" + (parseFloat(item.precoProduto) * parseFloat(item.quantidade)).toFixed(2) + "\n";
            }
            console.log(varrer)

            var e = $("#FormaDePagamento option:selected").text();

            for (var i = 0; i < carrinho.length; i++) {
                var carrinho = JSON.parse(allStorage()[0]) //lembrar de mudar para 0
                string += "\n" + carrinho[i]["nomeProduto"]
            }
            var nomeEmpresa = '(@Model.Lista1.First().NomeEmpresa)'
            var horaPedido = '(@Model.Lista1.First().PedDataPedido.ToString("dd/MM/yyyy"))'
            var idpedido = '(@Model.Lista1.First().PedID)'
            var numero = '@(Model.Lista1.First().Telefone.Replace("(", "").Replace(")", "").Replace("+", "").Replace("-", "").Replace(" ", ""))';
            var preco = 0.00
            for (var i = 0; i < carrinho.length; i++) {
                var item = carrinho[i];
                preco += parseFloat(carrinho[i].precoProduto) * parseFloat(carrinho[i].quantidade)
            }


            var taxa = parseFloat("@Model.Lista1.First().Taxa")
            var novopreco = parseFloat(preco)
            var resultado = taxa + novopreco
            var idempresa = @ViewBag.Empresaid
            var idsdosprodutos = carrinho.map(objeto => objeto.proID);
           
             $.ajax({
                url: '@Url.ActionLink("CriarPedido", "Pedidos")',
                method: 'POST',
                data: {
                    NomeCliente: nome,
                    EnderecoCliente: endereco,
                    TelefoneCliente: telefone,
                    DataPedido: '@DateTime.Now.ToString("dd-MM-yyyy")',
                    EmpresaID: @ViewBag.EmpresaID,
                    TipoPagamento: e,
                    Produtos: idsdosprodutos,
                        empresaids: idempresa
                } , 
                success: function (batata){
                        var data =  batata[0]
                        var idpid =  batata[1] 
                
                 
                     

                    var mensagem = "\n" + "*✏PEDIDO Nº* " + idpid  + " \n" +
                    "Realizado em " + data + 
                    "\n" + "- - - - - - - - - - - - - - - - - - - - - - - - - - -" + "\n" + 
                        "\n" + "📣Delivery - " + nomeEmpresa + "\n"   +   
                        "\n" + "- - - - - - - - - - - - - - - - - - - - - - - - - - -" + "\n" +
                        " \n" + "👥 *CLIENTE* \nNome:  " + nome + " \n" +
                        "*Endereço:  " + endereco + " \n" +
                        "*Complemento:  " + complemento + "  \n" +
                        "bairro:" + Bairro + "  \n" +
                        "Ponto de Referencia:" + ptnReferencia + "  \n" +
                        "*Telefone:" + telefone + "  \n" +
                        "\n" + "- - - - - - - - - - - - - - - - - - - - - - - - - - -" + "\n" +
                        " \n*📝 RESUMO DO PEDIDO* \n" +
                        "Produto: " + "\n" + html +
                        "\nObservação: " + observacao + "\n" +
                        "\n" + "- - - - - - - - - - - - - - - - - - - - - - - - - - -" + "\n" +
                        "\n*💵DADOS DE PAGAMENTO*" + "\n" +
                        "Forma de pagamento: " + "" + e + "\n" +
                        "Preço do produto(s) R$ " + parseFloat(preco).toFixed(2) + "\n" +
                        "Taxa de entrega: @Model.Lista1.First().Taxa" + "\n" +
                        "Valor total R$: " + resultado.toFixed(2)



                    var link = "https://api.whatsapp.com/send?phone=" + numero + "&text=" + encodeURIComponent(mensagem);



                    window.open(link, "_blank");
                }


            })
        }

        function adicionarAoCarrinho(proID, precoProduto, nomeProduto, precoAnterior, quantidade) {
            var item = {
                proID: proID,
                precoProduto: precoProduto,
                nomeProduto: nomeProduto,
                precoAnterior: precoAnterior,
                quantidade: quantidade
            };
            carrinho.push(item);
            salvarNoLocalStorage("carrinho", carrinho);
        }

        var inputNome = document.getElementById('InputNome');
var inputEndereco = document.getElementById('InputEndereco');
var inputNTelefone = document.getElementById('InputNTelefone');


function validarCampos() {
  if (inputNome.value.trim() === '') {
    alert('Por favor, preencha o campo Nome.');
    return false;
  }

  if (inputEndereco.value.trim() === '') {
    alert('Por favor, preencha o campo Endereço.');
    return false;
  }

  if (inputNTelefone.value.trim() === '') {
    alert('Por favor, preencha o campo Número de Telefone.');
    return false;
  }

  return true;
}

var form = document.getElementById('FinalizarPedido');
form.addEventListener('submit', function(event) {
  if (!validarCampos()) {
    event.preventDefault(); 
  }
});

 
        const arrow = document.querySelector('.arrow');
        const complementoDiv = document.getElementById('complementoDiv');
        const bairroDiv = document.getElementById('bairroDiv');
        const referenciaDiv = document.getElementById('referenciaDiv');

 
        arrow.addEventListener('click', function () {
          
            complementoDiv.classList.toggle('hidden');
            bairroDiv.classList.toggle('hidden');
            referenciaDiv.classList.toggle('hidden');
        });

        document.addEventListener('DOMContentLoaded', function () {
            var arrow = document.querySelector('.arrow');

            arrow.addEventListener('click', function () {
                arrow.classList.toggle('rotate');
            });
        });



    </script>
</body>
</html>
