@model IEnumerable<Empresa>

<h1> Empresas </h1>
<br />
<td><a class="btn btn-outline-secondary" href="/Cardapio/Index">Voltar ao Cardápio</a></td>
<td><a class="btn btn-primary" href="/Categoria/Create">Nova Categoria</a></td>
<td><a class="btn btn-primary" href="/Produto/Index">Produtos</a></td>
<td><a class="btn btn-outline-info" href="/Empresa/Index?idEmpresa=">Empresa</a></td>
<td><a class="btn btn-outline-info" href="@Url.Action("create", "Empresa")">Nova Empresa</a></td>


<div id="divtabela">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">CNPJ</th>
                <th scope="col">Nome da Empresa</th>
                <th scope="col">Telefone</th>
                <th scope="col">Taxa Cobrada</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CNPJ</td>
                    <td>@item.Perfil_Empresa</td>
                    <td>@item.Telefone</td>
                    <td>@item.taxaEmpresa</td>
                    <td><a class="btn btn-outline-primary" href="/Produto/Index?idEmpresa=@item.EmpresaID">Produtos</a></td>
                    <td><a class="btn btn-outline-warning" href="/Empresa/Atualizar?idEmpresa=@item.EmpresaID">Editar</a></td>
                    <td><a class="btn btn-outline-danger" href="/Empresa/Apagar?idEmpresa=@item.EmpresaID">Deletar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
