@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Atualizar Produto</h1>

<form method="post" action="Atualizar">

    <div class="form-group">
        <label for="codigo">Código</label>
        <input type="text" class="form-control" id="codigo" value="@ViewBag.ProdutoAtualizar.ProID" name="codigo" readonly>
    </div>


    <div class="form-group">
        <label for="NomeProduto">Nome do Produto</label>
        <input type="text" class="form-control" id="NomeProduto" value="@ViewBag.ProdutoAtualizar.NomeProduto" name="NomeProduto">
    </div>

    <div class="form-group">
        <label for="DescricaoProduto">Descrição do Produto</label>
        <input type="text" class="form-control" id="DescricaoProduto" value="@ViewBag.ProdutoAtualizar.DescricaoProduto" name="DescricaoProduto">
    </div>

    <div class="form-group">
        <label for="NutricaoProduto">Nutrição</label>
        <input type="text" class="form-control" id="NutricaoProduto" value="@ViewBag.ProdutoAtualizar.NutricaoProduto" name="NutricaoProduto">
    </div>

    <div class="form-group">
        <label for="PrecoProduto">Preço</label>
        <input type="text" class="form-control" id="PrecoProduto" value="@ViewBag.ProdutoAtualizar.PrecoProduto" name="PrecoProduto">
    </div>

    <br />
    <label for="Categorias">Escolha uma categoria:</label>
    <select name="CategoriaID" id="CategoriaID">
        @foreach (var item in ViewBag.Categoria)
        {
            <option value="@item.CategoriaID" id="CategoriaID" >@item.Nome</option>
        }
    </select>
    <br><br>
    <br />

    <a class="btn btn-secondary" href="/Produto/Index">Voltar</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
