@model CárdapioV3_Tunado.DAL.EmpresaDAO
@{
    CárdapioV3_Tunado.DAL.EmpresaDAO empresa = new CárdapioV3_Tunado.DAL.EmpresaDAO();
}
@using CárdapioV3_Tunado.Models.enums;

<h1>
    @foreach (var item in ViewBag.NomeEmpresa)
    {
        <p> @item.NomeEmpresa - Produtos</p>
    }
</h1>


<br />

<td><a class="btn btn-primary" href="/Produto/Create">Novo Produto</a></td>
@if (User.IsInRole("master"))
{
    <td><a class="btn btn-outline-dark" href="/Categoria/Index?idEmpresa=">Categorias</a></td>
}

@if (int.Parse(User.Identity!.Name) != null)
{
    <input type="text" value="@String.Join("", new string[] { Context.Request.IsHttps ? "https://" : "http://", Context.Request.Host.Value})/cardapio/index?idempresa=@int.Parse(User.Identity!.Name)" id="myInput">
}
else
{
    <input type="text" value="@String.Join("", new string[] { Context.Request.IsHttps ? "https://" : "http://", Context.Request.Host.Value})/cardapio/index?idempresa=@ViewBag.EmpresaIDSubmit" id="myInput">
}

<button id="copyButton">Copiar</button>
<div id="textDisplay"></div>
<form asp-controller="Produto" asp-action="Index" >
    @if (User.IsInRole(nameof(E_Perfil.MASTER)))
    {
        <br />
        <label for="EmpresaID">Escolha uma empresa:</label>
        <select name="EmpresaID" id="EmpresaID">
            @foreach (var item in ViewBag.TodasEmpresasBox)
            {
                <option value="@item.EmpresaID">@item.NomeEmpresa</option>
            }
        </select>

        <button type="submit" class="btn btn-outline-dark" >Submit</button>
    }
</form>
<div id="divtabela">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">EmpresaID</th>
                <th scope="col">ProdutoID</th>
                <th scope="col">Nome do Produto</th>
                <th scope="col">Descrição</th>
                <th scope="col">Nutrição do Produto</th>
                <th scope="col">Preço do Produto</th>
                @if (User.IsInRole(nameof(E_Perfil.MASTER)))
                {
                    <th scope="col">Nome da Empresa</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (User.IsInRole(nameof(E_Perfil.MASTER)) && ViewBag.todosProdutos != null)
            {
                @foreach (var item in ViewBag.todosProdutos)
                {
                    <tr>
                        <td>@item.EmpresaID</td>
                        <td>@item.ProID</td>
                        <td>@item.NomeProduto</td>
                        <td>@item.DescricaoProduto</td>
                        <td>@item.NutricaoProduto</td>
                        <td>@item.PrecoProduto</td>
                        <td>@item.NomeEmpresa</td>
                        <td><a class="btn btn-outline-warning" href="/Produto/Atualizar/@item.ProID">Editar</a></td>
                        <td><a class="btn btn-outline-danger" href="/Produto/Apagar/@item.ProID">Deletar</a></td>
                    </tr>
                }
            }
            else
            {
                @foreach (var item in @ViewBag.listaProdutosController)
                {
                    <tr>
                        <td>@item.EmpresaID</td>
                        <td>@item.ProID</td>
                        <td>@item.NomeProduto</td>
                        <td>@item.DescricaoProduto</td>
                        <td>@item.NutricaoProduto</td>
                        <td>@item.PrecoProduto</td>
                        <td><a class="btn btn-outline-warning" href="/Produto/Atualizar/@item.ProID">Editar</a></td>
                        <td><a class="btn btn-outline-danger" href="/Produto/Apagar/@item.ProID">Deletar</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#copyButton').on('click', function () {
            var copyText = document.getElementById('myInput');
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(copyText.value);
            alert("Copied the text: " + copyText.value);
        });
    });
</script>